/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 require bootstrap
 require will_paginate-bootstrap
 */

.table-light td {
  font-weight: normal;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a,
.pagination span {
  padding: 6px 12px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.pagination .active a {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.pagination .disabled a,
.pagination .disabled span {
  background-color: #f5f5f5;
  color: #ccc;
  border-color: #ccc;
}

.total-users {
  font-size: 0.8rem; /* Defina o tamanho desejado em pixels, rem ou outra unidade de medida */
}

.custom-select {
  background-color: #f2f2f2;
  color: #333;
  border: 1px solid #ccc;
  font-size: 16px;
  padding: 8px;
  width: -webkit-fill-available;
}
